<component name="ArtifactManager">
  <artifact type="war" name="springmvc_day03_1_ssm:war">
    <output-path>$PROJECT_DIR$/springmvc_day03_1_ssm/target</output-path>
    <root id="archive" name="springmvc_day03_1_ssm.war">
      <element id="artifact" artifact-name="springmvc_day03_1_ssm:war exploded" />
    </root>
  </artifact>
</component>