<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_security_hello:war exploded">
    <output-path>$PROJECT_DIR$/spring_security_hello/target/spring_security_hello</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_security_hello" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:5.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:5.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-taglibs:5.0.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-acl:5.0.1.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring_security_hello/target/spring_security_hello/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring_security_hello/web/Web" />
    </root>
  </artifact>
</component>