<component name="ArtifactManager">
  <artifact type="war" name="springmvc_day03_2_interceptor:war">
    <output-path>$PROJECT_DIR$/springmvc_day03_2_interceptor/target</output-path>
    <root id="archive" name="springmvc_day03_2_interceptor.war">
      <element id="artifact" artifact-name="springmvc_day03_2_interceptor:war exploded" />
    </root>
  </artifact>
</component>