<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.itheima"></context:component-scan>
    <bean id="log" class="com.itheima.log.Logger"></bean>
    <aop:config>
        <aop:aspect id="logger" ref="log">
            <!--execution(* com.itheima.service.impl.*.*(..)) -->
            <aop:pointcut id="pt" expression="execution(* com.itheima.service.*.*(..))"></aop:pointcut>
            <aop:around method="around" pointcut-ref="pt"></aop:around>
        </aop:aspect>

    </aop:config>
</beans>